.panelContent {
  font-size: 20px;
  color: white;
}

.panelDetail {
  width: 150px;
  height: 50px;
}
.panelDetail p {
  display: inline-block;
  float: left;
  margin: 0;
  line-height:50px;
}
.panelDetail #nume {
  float: right;
  color: yellow;
  margin: 0;
}
.panelKey {
  width: 150px;
  height: 50px;
}
.panelKey p {
  float: right;
  display: inline-block;
  color: yellow;
  line-height:50px;
}
.panelKey img {
  float: left;
}

p {
  margin: 0;
}
